@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  height: 2px;
  width: 2px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  width: 1px;
  height: 1px;
  background-color: rgb(71 85 105 /50);
}

